
        <h1>Social Networking <%= title%></h1>

        <section id='feed-posts'>
                <h4>Posts</h4>
                 <% if (locals.user) { %>
                <form action="/posts/create" id='new-post-form' method="POST">
                        <textarea name="content"  cols="30" rows="3"></textarea>
                        <input type="submit" value="Post" placeholder="Type Here !">

                </form>
                <% } %>

                <div id='posts-list-container'>
                    <ul>
                            <% for(post of posts){ %>

                                <li>
                                        <%= post.content %>
                                </li>
                                <br>
                                <small><%= post.user.name%></small>
                                <%}%>
                    </ul>
                </div>

        </section>
        
