<h1>Sign Up !</h1>

<form action="/signin/signup/create" method="POST">

    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="email" name="email" placeholder="Enter Email" required>
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>
    <input type="submit" value="Sign Up">

</form>