<h1>Sign In!!!</h1>
<form action="/signin/create-session" method="POST">
<label for="Username"></label>
    <input id="Username" name="email" type="text" placeholder="Enter Email" required>

    <label for="Password"></label>
    <input type="password" name="password" id="Password" placeholder="Enter Password" required>

    <input type="submit" value="Sign In">
  
</form>