<h1>Sign In!!!</h1>
<form action="" method="POST">
<label for="Username"></label>
    <input id="Username" type="text" placeholder="Enter Username or Email">

    <label for="Password"></label>
    <input type="password" id="Password" placeholder="Enter Password">

    <button>Submit</button>
</form>