<html>
    <head>
        <title><%= title%></title>
    </head>

    <body>
       <%- include('_headers')%>
        <h1>Social Networking User Profile <%= title%></h1>
        <%- include('_footers')%>
    </body>

</html>